
        new2
        new3
        new4
[A[A[A[C[C[C[C[C[C[C[[A[C[C[C[C[C[C[C[C[C[C[A[Cnew2 new3 new4[D[D[D[D[D[D[D[D[D
[A[C[C[C[C[C[C[C[C[C[C[C[
[A[A[C[C[C[B[C[C[C[A[A[C[C[C[C[C[C[C[C[C[C[C[C[C[C[C[C[C[C

new2
new3

